<form #gastoForm="ngForm"  (ngSubmit)="addGasto(gastoForm)">
    <div class="row">
        <div class="input-field col s12">
            <input type="text" name="_id"  #name="ngModel" [(ngModel)]="gastoService.selectedGasto._id"
                placeholder="ID Gasto">
        </div>

        <div class="input-field col s12">
            <input type="text" name="tipo"  #name="ngModel" [(ngModel)]="gastoService.selectedGasto.tipo"
                placeholder="Ingrese el tipo de gasto">
        </div>
        <div class="input-field col s12">
            <input type="text" name="ruc" #name="ngModel" [(ngModel)]="gastoService.selectedGasto.ruc" placeholder="Ingrese el ruc de 
   empresa">
        </div>
        <div class="input-field col s12">
            <input type="text" name="empresa" #name="ngModel" [(ngModel)]="gastoService.selectedGasto.empresa"
                placeholder="Ingrese el 
   nombre de empresa">
        </div>
        <div class="input-field col s12">
            <input type="text" name="monto" #name="ngModel" [(ngModel)]="gastoService.selectedGasto.monto"
                placeholder="Ingrese el monto del gasto">
        </div>
        
        <div class="card-action">
            <div class="input-field col s12">
            <button class="btn right">Grabar</button>
            <button class="btn right" (click)="resetForm(gastoForm)">Borrar</button>
            <button class="btn right" (click)="actForm()" >Actualizar</button>
            </div>
            </div>
    </div>
</form>


<div class="col s7">
    <table>
    <thead>
    <th>Tipo</th>
    <th>RUC</th>
    <th>Empresa</th>
    <th>Monto</th>
    </thead>
    <tbody>
    <tr *ngFor="let gasto of gastoService.gastos">
    <td>{{gasto.tipo}}</td>
    <td>{{gasto.empresa}}</td>
    <td>{{gasto.ruc}}</td>
    <td>{{gasto.monto}}</td>
    <td><a (click)="editGasto(gasto._id)">
        <i class="material-icons">edit</i>
       </a></td>
    <td> <a (click)="deleteGasto(gasto._id)">
 <i class="material-icons">delete</i>
</a></td>
<td></td>
    </tr>
    </tbody>
    </table>
</div>